<%- include('./layouts/header.ejs'); -%>
        <div class="container">
         <!-- content -->
                <p>Not found!</p>
                <!-- end content -->
            <!-- sidebar -->
            <%- include('./layouts/sidebar.ejs'); -%>
            <!-- end sidebar -->
        </div>
<%- include('./layouts/footer.ejs'); -%>