
    <%- include('./layouts/header.ejs'); -%>
        <div class="container">
         <!-- content -->
           <div class="col-sm-8">
                 <p>Error! An error occurred. Please try again later</p>
                 </div>
                <!-- end content -->
            <!-- sidebar -->
            <%- include('./layouts/sidebar.ejs'); -%>
            <!-- end sidebar -->
        </div>
<%- include('./layouts/footer.ejs'); -%>