<%- include('./layouts/header.ejs'); -%>
    <!-- main -->
    <div id="wrap_main">
        <!-- sidebar -->
        <%- include('./layouts/sidebar'); -%>
            <!-- end sidebar -->
            <%- include('./layouts/navbar'); -%>
                <!-- content -->
                <p>Error! Access Denied.</p>
                <!-- end content -->
    </div>
    <!-- end main -->
    <%- include('./layouts/footer'); -%>